{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-react-jsx",
    "transform-class-properties"
  ],

  "env": {
    "docs": {
      "presets": [
      ],
      "plugins": [
        "transform-react-jsx",
        "transform-class-properties"
      ]
    }
  }
}
