{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-class-properties"
  ],

  "env": {
    "docs": {
      "presets": [
      ],
      "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-class-properties"
      ]
    }
  }
}
